
@{
    ViewBag.Title = "Управление правами доступа";
}

<h2>Управление ролями пользователей</h2>

@Html.ActionLink("Добавить новую роль", "Create") 
<hr />

<h2>Добавить роль пользователю</h2>

@using (Html.BeginForm("RoleAddToUser", "Roles"))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <p>
        Email : @Html.TextBox("Email")
        Роль : @Html.DropDownList("RoleName", (IEnumerable<SelectListItem>)ViewBag.Roles, "Выберите...")

    </p>

    <input type="submit" value="Сохранить" />
}
<hr />

<h2>Показать присвоеные роли пользователя</h2>

@using (Html.BeginForm("GetRoles", "Roles"))
{
    @Html.AntiForgeryToken()
    <p>
        Email : @Html.TextBox("Email")
        <input type="submit" value="Отправить" />
    </p>
}

@if (ViewBag.RolesForThisUser != null)
{
    <div style="background-color:yellow;">
        <h3>Присвоенные роли: </h3>
        <ol>
            @foreach (string s in ViewBag.RolesForThisUser)
            {
                <li>@s</li>
            }
        </ol>
    </div>
}

<hr />

<h2>Удалить роль у пользователя</h2>

@using (Html.BeginForm("DeleteRoleForUser", "Roles"))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <p>
        Email : @Html.TextBox("Email")
        Роль : @Html.DropDownList("RoleName", (IEnumerable<SelectListItem>)ViewBag.Roles, "Select ...")

    </p>

    <input type="submit" value="Удалить" />
}

